
body {
    font-family: "Poppins", sans-serif;
}

.header-links {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding: 32px;
}

.header-links a {
    font-family: "VT323", monospace;
    font-size: 24px;
    text-decoration: none;
    color: #13731d;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 50px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.main-title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #020202;
    margin-top: 40px;
}

.main-description {
    font-size: 16px;
    line-height: 27px;
    margin-top: 30px;
    font-size: 400;
}

.main-button {
    background-color: #198524; 
    text-decoration: none;
    color: #fff;
    padding: 13px 32px;
    border-radius: 13px;
    margin-top: 30px;
}

.sections {
    background-color: #000;
    color: #fff;
}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    
}

.section-title-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.section-title {
    font-size: 38px;
    font-weight: 600;
}

.about-description-box {
    border: 1px solid #05b62c;
    padding: 50px 60px;
    margin-top: 40px;
}

.about-description {
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
}

.about-line-box {
    height: 19px;
    background-color: #05b62c;
}

.section-projects {
    gap: 28px;
    padding: 60px 0;
    align-items: center;
}

.section-projects-display {
    display: flex;
}

.section-projects-display-reverse {
    display: flex;
}

.project-image-container {
    flex: 1;
}

.project-image {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.17), 0 6px 20px rgba(255, 255, 255, 0.07);
}

.project-datils-container {
    flex: 1;
    margin: auto 0;
}

.section-title-project {
    display: flex;
    align-items: center;
    gap: 18px;
}

.title-project {
    font-family: "VT323", monospace;
    color: #05b62c;
    font-size: 38px;
    line-height: 38px;
}

.section-description-project {
    background-color: #575757;
    padding: 30px 24px;
    border-radius: 8px;
    margin-top: 18px;
    text-align: justify;
}

.projects-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.project-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 38px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 700;    
}

.buttons:hover {
    background-color: #575757;
}

/* .section-projects-mirror {
    display: flex;
    flex-direction: row-reverse;
    gap: 28px;
    padding: 60px 0;
    align-items: center;
} */

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-links {
    display: flex;
    gap: 30px;
    margin: 42px 0 50px 0;
}

footer {
    padding: 34px 0;
    text-align: center;
    font-weight: 600;
}