
body {
    font-family: "Poppins", sans-serif;
}

.header-links {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding: 32px;
}

.header-links a {
    font-family: "VT323", monospace;
    font-size: 24px;
    text-decoration: none;
    color: #13731d;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.main-title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #020202;
    margin-top: 40px;
}

.main-description {
    font-size: 16px;
    line-height: 27px;
    margin-top: 30px;
    font-size: 400;
}

.main-button {
    background-color: #198524; 
    text-decoration: none;
    color: #fff;
    padding: 13px 32px;
    border-radius: 13px;
    margin-top: 30px;
}